@using System.Text.RegularExpressions
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/calendar.js"></script>
    <script type="text/javascript" src="~/Scripts/charts.js"></script>
    <script type="text/javascript" src="~/Scripts/announcements.js"></script>
    <script type="text/javascript" src="~/Scripts/contentloader.js"></script>
    <script type="text/javascript" src="~/Scripts/tasks.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/chat.js"></script>
    <script type="text/javascript" src="~/Scripts/account.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications.js"></script>
}

<div class="home">
    <div class="sidepanel-container">
        <div id="sidepanel" class="sidepanel">
            @if (Context.User.Identity.IsAuthenticated)
            {
                string name = Context.User.Identity.Name;
                name = Regex.Replace(name, @"\b\w", match => match.ToString().ToUpper());

                <div class="userinformation">
                    <a class="username" href="Account\Index">@name</a>
                </div>
            }
            <ul>
                <li>
                    <button class="panel-button standard-panel announcements-panel" id="sectionbutton" data-url="@Url.Action("Announcements", "Announcement")"><i class="glyphicon glyphicon-check"></i> Announcements</button>
                </li>
                <li>
                    <button class="panel-button standard-panel" id="sectionbutton" data-url="@Url.Action("Tasks", "Task", new { tasksDesired = "mytasks" })"><i class="glyphicon glyphicon-pushpin"></i> My Tasks</button>
                </li>
                <li>
                    <button class="panel-button standard-panel" id="sectionbutton" data-url="@Url.Action("Tasks", "Task", new { tasksDesired = "teamtasks" })"><i class="glyphicon glyphicon-tasks"></i> Team Tasks</button>
                </li>
                <li>
                    <button class="panel-button standard-panel" id="sectionbutton" data-url="@Url.Action("Tasks", "Task", new { tasksDesired = "alltasks" })"><i class="glyphicon glyphicon-briefcase"></i> All Tasks</button>
                </li>
                <li>
                    <button class="panel-button standard-panel" id="sectionbutton" data-url="@Url.Action("Chart", "Chart")"><i class="glyphicon glyphicon-stats"></i> Graphs</button>
                </li>
                <li>
                    <button class="panel-button standard-panel" id="sectionbutton" data-url="@Url.Action("Calendar", "Calendar")"><i class="glyphicon glyphicon-list"></i> Calendar</button>
                </li>
            </ul>
            <hr />
            <ul>
                <li>
                    <button class="panel-button account-details" data-toggle="modal" data-target="#accountEditForm"><i class="glyphicon glyphicon-cog"></i> Account Details</button>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <button class="panel-button account-new" data-toggle="modal" data-target="#registerModal"><i class="glyphicon glyphicon-plus"></i> Add user</button>
                    </li>
                }
                <li>
                    <button class="panel-button logout-button" onclick="window.location.href = '@Url.Action("Logout", "Security")'">
                        <i class="glyphicon glyphicon-off"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-form-section"></div>
    @RenderPage("~/Views/Chat/Chat.cshtml")
    <nav class="navbar navbar-default content-header">
        <input type="hidden" value="@ViewBag.Title" id="user-title" />
        <div class="content-header-item content-title"></div>
        <div class="content-header-item header-time">
            <div class="time-display"></div>
            <i class="glyphicon glyphicon-time"></i>
        </div>
    </nav>
    @RenderBody()
    <button class="show-chat standard-button">C</button>
</div>